<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:hasCode="true"
        android:label="${appLabel}"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/Theme.MobileGLPlugin">

        <activity
            android:name=".PluginActivity"
            android:exported="true"
            android:theme="@style/Theme.MobileGLPlugin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="fclPlugin"
            android:value="true" />
        <meta-data
            android:name="des"
            android:value="${des}" />
        <meta-data
            android:name="renderer"
            android:value="${renderer}" />
        <meta-data
            android:name="boatEnv"
            android:value="${boatEnv}" />
        <meta-data
            android:name="pojavEnv"
            android:value="${pojavEnv}" />
    </application>

</manifest>
